.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &-body {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:767px) {
      height: 80px;
      justify-content: center;
    }
  }

  &__logo {

    img {
      height: 30px;
    }
  }

  &__btn {
    svg {
      width: 20px;
    }

    @media (max-width:767px) {
      display: none !important;
    }
  }
}