<header class="header">
	<div class="container">
		<div class="header-body">
			<div class="header__logo">
				<img src="./img/header/logo.svg" alt="">
			</div>
			<div class="header__menu">
				<div class="header__menu-content">
					<a href="#terms" class="header__menu-item link">
						Terms and conditions
					</a>
					<a href="#service" class="header__menu-item link">
						For whom?
					</a>
					<a href="#getstarted" class="header__menu-item link">
						Get started
					</a>
				</div>
			</div>
			<div class="header__menu-bg"></div>
			<div class="header__burger">
				<span></span><span></span><span></span>
			</div>
		</div>
	</div>
</header>