.main {
  background-image: url(../img/main/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width:1200px) {
    padding: 122px 0 55px;
  }

  @media (max-width:767px) {
    padding: 116px 0 46px;
  }

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width:992px) {
      min-height: unset;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 79px;
    color: #FFFFFF;
    text-align: center;

    @media (max-width:1500px) {
      font-size: 45px;
      line-height: 65px;
    }

    @media (max-width:767px) {
      font-size: 35px;
      line-height: 43px;
    }

    @media (min-width:460px) {
      br {
        display: none;
      }
    }
  }

  &__subtitle {
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
    text-align: center;

    @media (max-width:1500px) {
      font-size: 24px;
      line-height: 35px;
    }

    @media (max-width:767px) {
      font-size: 20px;
      line-height: 29px;
    }
  }

  &__btn {
    margin: 50px 0 0;

    @media (max-width:1500px) {
      margin: 30px 0 0;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      margin: 25px 0 0;
      background: rgb(14, 20, 30);
      background: linear-gradient(90deg, rgba(14, 20, 30, 1) 0%, rgba(74, 90, 116, 1) 50%, rgba(14, 20, 30, 1) 100%);
      opacity: 0.6;

      @media (max-width:1500px) {
        margin: 20px 0 0;
      }
    }

    &__title {
      margin: 25px 0 0;
      font-weight: 600;
      font-size: 24px;
      line-height: 35px;
      color: #FFFFFF;

      @media (max-width:1500px) {
        margin: 20px 0 0;
        font-size: 20px;
        line-height: 29px;
      }

      @media (max-width:767px) {
        font-size: 20px;
        line-height: 29px;
      }
    }

    &__content {
      margin: 25px auto 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 950px;

      @media (max-width:767px) {
        flex-direction: column;
        max-width: 315px;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 calc(33.333% - 17px);

      @media (max-width:767px) {
        flex-direction: row;
        justify-content: flex-start;
      }

      &:not(:first-child) {
        margin: 0 0 0 25px;

        @media (max-width:767px) {
          margin: 25px 0 0 0;
        }
      }

      &-ico {
        flex: 0 0 auto;
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #141C29;
        border-radius: 50%;

        img {
          height: 60px;
        }

        @media (max-width:1500px) {
          width: 90px;
          height: 90px;

          img {
            height: 45px;
          }

          &_small {
            img {
              height: 38px;
            }
          }
        }
      }

      &-title {
        margin: 15px 0 0;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        color: #B2BAD8;

        @media (max-width:1500px) {
          font-size: 18px;
          line-height: 22px;
        }

        @media (max-width:767px) {
          margin: 0 0 0 15px;
          text-align: left;
        }
      }
    }
  }
}